<nav class="navbar">
    <div class="logo"><a href="/"><h1>Name</h1></a></div>
    <div class="navbtns">
      <div class="navbtn"><a href="/"><h3>ALL Data</h3></a></div>
      <div class="navbtn"><a href="/stat"><h3>Statistics</h3></a></div>
      <div class="navbtn"><a href="/stat"><h3>Bar Chart</h3></a></div>
      <div class="navbtn"><a href="/stat"><h3>Pie Chart</h3></a></div>
    </div>
  </nav>